# OS
.DS_Store

# Python
*.pyc
*.pyo

# Common IDEs
*.swp
.idea/
.buildpath
.project
.settings
atlassian-ide-plugin.xml
*.sublime-*

# Project
/mothra/local_settings.py
/mothra/public/static
/mothra/public/media
/mothra/public/files
/mothra/backup
mothra-env/
build/
confs/
fabfile.py

#documentation
docs/_build/
docs/tf_user_doc.rst

# SQLite
/mothra/mothra.db
/mothra/mothra.db-journal

celerybeat-schedule
.coverage
htmlcov
workflows/nltoolkit/package_data/*_api_key.json

#external packages
/tf_core
/tf_latino
